#backToTop {
    position: fixed;
    right: 14px;
    bottom: 15px;
    background: #8B475D;
    color: #E0DFDB;
    padding: 0px;
    border-radius: 50%;
    cursor: pointer;
}

#backToTop .icon {
    font-size: 35px;
}