.story {
    width: 120px;
    height: 200px;
    padding: 0px;
    margin-right: 10px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #8B475D;
    cursor: pointer;
}


.story .storyImg {
    height: 100%;
}

.story .storyImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story .content .profileImg {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px dashed #fff;
}

.story .content {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 54%);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.story .content .userName {
    color: #ffffff;
    font-size: 14px;
    padding: 10px 0 5px;
    font-weight: 500;
    text-transform: capitalize;
}

.rightBar .rightBarWrapper .stories .owl-prev {
    position: absolute;
    left: -18px;
    top: 85px;
    background: transparent;
    margin: 0;
}

.rightBar .rightBarWrapper .stories button span {
    font-size: 60px;
    line-height: 22px;
    color: #000;
}

.rightBar .rightBarWrapper .stories .owl-next {
    position: absolute;
    right: -7px;
    top: 85px;
    background: transparent;
    margin: 0;
}
