.topbar {
    display: flex;
    padding: 15px;
    background: #181818;
    color: #fff;
}

.topbarLeft {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}

.topbarCenter {
    display: flex;
    flex: 8;
    justify-content: center;
    align-items: center;
    position: relative;
}

.topbarRight {
    flex: 2;
}

.topbarCenter svg {
    position: absolute;
    color: #000;
    right: 88px;
}

.topbarCenter input.search {
    width: 80%;
    padding: 20px 40px 20px 20px;
    height: auto;
    border: none;
    border-radius: 100px;
}

.topbarLeft .logo {
    font-size: 32px;
    color: var(--stainless-steel);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.topbarRight .topBarLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.topbarRight .topBarLinks .item {
    margin: 0 10px;
    position: relative;
}

.topbarRight .topBarLinks .item .counter {
    position: absolute;
    top: -7px;
    right: -5px;
    background: red;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 11px;
    border-radius: 10px;
}