.topbar {
    padding: 10px 0;
    background: #292421;
    color: #fff;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbarCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.topbarCenter .searchBtn {
    position: absolute;
    color: #000;
    left: 25px;
    top: 50%;
    border: none;
    background: transparent;
    transform: translateY(-50%);
}

.topbarCenter .searchBtn .searchIcon {
    font-size: 30px;
}

.topbarCenter .search {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    color: #323232;
    padding-left: 50px;
}

.topbarCenter input.search:focus-visible {
    outline: none;
}

.topbarLeft .logo {
    font-size: 26px;
    color: #8B475D;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.topbarRight .topbarLinks ,
.topbarRight .topBarIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.topbarRight .topbarLinks .item {
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

.topbarRight .topBarIcons .item {
    padding: 0 15px;
    position: relative;
    cursor: pointer;
}

.topbarRight .topBarIcons .item .counter {
    position: absolute;
    top: -7px;
    right: 3px;
    background: #8B475D;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    border-radius: 24px;
}

.topbarRight {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #8B475D;
    margin-left: 20px;
    overflow: hidden;
    cursor: pointer;
    object-fit: cover;
}

.profile img {
    width: 100%;
    height: auto;
}