.rightBar {
    padding: 0;
}

.rightBar .rightBarWrapper {
    padding: 20px 20px 0 0;
}

.rightBar .rightBarWrapper .stories {
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}

.rightBar .rightBarWrapper .stories .owl-carousel.owl-loaded {
    padding: 0;
}

.rightBar .rightBarWrapper .stories .owl-theme .owl-dots {
    display: none;
}

.rightBar .rightBarWrapper .adv {
    margin: 30px 20px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.rightBar .rightBarWrapper .adv img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.rightBar .rightBarWrapper .adv .adText {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: #8f8f8f;
    width: 100%;
    padding: 10px;
}

.rightBar .rightBarWrapper .adv .adText .closeIcon {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.friendOnline {
    padding: 10px 15px;
}

.friendOnline .onlineFriendsList {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #bebebe;
}

.friendOnline  .onlineFriendsList .friend {
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #bebebe;
    position: relative;
}

.friendOnline  .onlineFriendsList .friend .imgContainer {
    position: relative;
}

.friendOnline .onlineFriendsList .friend img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.friendOnline .onlineFriendsList .friend .friendName {
    margin: 0;
    font-size: 16px;
}

.friendOnline .head {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 6px;
    padding: 0 10px;
}

.friendOnline .onlineFriendsList .friend .onlineIcon {
    width: 14px;
    height: 14px;
    background: limegreen;
    position: absolute;
    top: 0;
    right: 9px;
    border-radius: 50%;
    border: 3px solid #fff;
}